.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-content-area {
  display: flex;
  flex-direction: column; 
  flex-grow: 1; 
}

.info-and-cards-container {
  display: flex; 
  flex-grow: 1; 
  margin: 0;
}

.cards-container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  flex-grow: 1; 
  padding: 0;
  margin: 0.68rem 1.43rem 1rem 0;
  /* margin: 0.5rem 1.25rem 0.75rem -0.15rem; */

}

